@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  background: #151919;
  color: #fff;
  font-family: 'Open Sans';
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

h1 {
  margin-top: 100px;
  color: #64FE63;
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 65px;
}

p {
  font-size: 25px;
}

button {
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
  background: #151919;
  border: 2px solid #64FE63;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  width: 250px;
  height: 75px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 20px;
}

button:hover {
  background-color: #64FE63;
  color: #000;
  cursor: pointer;
  border: 10px solid #64fe63;
  font-weight: bold;
}

button:focus {
  outline: none;
}